/**IMPORT**/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,500&display=swap');

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF; 
}


*{/**ALL**/
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none; 
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 900;  
   /* border:1px dashed pink; */
}

/**GENERAL**/
button, a{
    cursor: pointer;
}
img{
    object-fit: cover;
}
body{  
    max-width: 1440px;
    padding:0px 50px;
}


/**POSITION (flex------flex direction---space between)**/
.searchbar *,.searchbar_form *,.hebergement-and-populaire,
.populaire_card .card,.activite_card,.hebergement_card,
footer{
    display: flex;
}
.navbar, .navbar_menu,
.hebergement-and-populaire .card_content,
.populaire_title{
    display: flex;
    justify-content: space-between;
}
section,
.searchbar_txt,.footer_list,
.hebergement .card, .hebergement .content_txt,
.populaire_card,.activite .card,
.hebergement-and-populaire .card_content{
    display: flex;
    flex-direction: column;
}



/**STYLES (fonts---color---border-radius-shadows--hover)**/
/**fonts**/
h1, h2{
    font-size: 22px;
}
h3{
    font-size: 18px;
}
.txt_subtitle{
    font-size: 14px;
}
.card-subtitle , p, footer a, .navbar_menu a {
    font-weight: 400;
}
/*NAVBAR*/
.navbar_menu{
    width: 20%;
}
.navbar_menu a:hover {
    color:var(--main-color);
    border-top: 2px solid blue;
}
.navbar_logo img {
    width: 61.1px;
    height: 19px;
}

/*SEARCHBAR*/
.searchbar_form * {
    justify-content: center;
    font-size: 18px;
    border: 1px solid var(--grey, #F2F2F2); 
}
.searchbar_form *,.searchbar_filter * ,.searchbar_infobar{
    align-items: center;
}
.searchbar_form label{
    border-radius: 15px 0px 0px 15px; 
    background-color:var(--grey, #F2F2F2);
    color:black;
}
.searchbar_form input::placeholder{
    text-align: center;
    color:black;
    font-size: 18px;
}
.searchbar_form button *,.searchbar_form button{
    background-color:  var(--blue, #0065FC);
    color:white; 
    border: none;  
 }
 .searchbar_form button .form_btn_txt{
    border-radius: 0px 15px 15px 0px;
}
.searchbar_form button .form_btn_icon{
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);      
}
.searchbar_filter .filter_btn button{
    border:2px solid #D9D9D9;
    border-radius: 25px;
    background-color: white;
    font-size: 17px;
}
.searchbar_filter .filter_btn :hover{
    background-color:#DEEBFF ;
}
.searchbar_filter .filter_btn i, .fa-info, .fa-chart-line,.fa-star {
   color:#0065FC 
}
.searchbar_infobar .fa-info{
    border: 1px solid #D9D9D9; 
    border-radius: 50px; 
    font-size: 14px;
} 


/*TOUTES LES SECTIONS*/
.neutral-star {
    color: var(--main-bg-color)
}
.card { 
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    background-color: white;
}
.hebergement_card,.populaire_card,.activite_card{
    flex-wrap: wrap;
}


/*SECTION POPULAIRE ET HEGERGEMENT*/
.hebergement-and-populaire section {
    background-color:var(--grey, #F2F2F2);
    border-radius: 15px;
}
.hebergement-and-populaire img {
    border:5px solid white;
}


/*SECTION HEBERGEMENT*/
.hebergement {
    width: 65%;
}
.hebergement .card{
    height: 207px;
}
.hebergement a{
    width: 30%;    
}
.hebergement img{
    height: 70%;
    border-radius: 20px 20px 0px 0px;  
}


/*SECTION POPULAIRE*/
.populaire {
    width: 30%;   
}
.populaire .card{
    width: 100%;
    height: 146px;
}
.populaire a{
    width: 100%;
}
.populaire img{
    width: 30%;
    border-radius:20px 0px 0px 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}
.populaire .card_content {
    border:5px solid white;
    border-radius: 0px 20px 20px 20px;
}
.populaire_title{
    align-items: center;
    }


/*SECTION ACTIVITE*/
.activite .card{
    height: 439px;
}
.activite a{
    width: 22%;    
}
.activite img{
    height: 90%;
    border-radius: 20px 20px 0px 0px;  
}


/**FOOTER**/
footer{
    background-color:var(--grey, #F2F2F2);  
}



/**MEDIA QUERIES**/
@media (min-width: 1440px) { /** large desktop (+ de 1440px) **/
    body{
        margin:auto;    
    }
}/**fin large desktop**/



@media (max-width: 1024px) { /** tablette (- de 1024px)**/
    .hebergement-and-populaire{
        flex-direction: column;   
    }
    .populaire_card{
        flex-direction: row;   
    } 
    .hebergement, .populaire {
        width: 100%;
    }
    .populaire a{
        width: 30%;
    }
    .activite .card{
        height: 270px;
    }
}/**fin tablette**/



@media (min-width: 767.98px) { /** + de 767px)**/
    .form_btn_icon{
        display: none;
    }          
}/**fin + 767px**/



@media (max-width: 767.98px) { /** mobile (- de 767px)**/
    body{
        padding:0px;
    }
    .navbar,footer,
    .activite_card,.hebergement_card, .populaire_card{
        flex-direction: column;   
    }
    .hebergement-and-populaire{
        flex-direction: column-reverse;     
    }
    .hebergement-and-populaire section{
        border-radius: 0px;
    }
    .form_btn_txt{
        display: none;
    }
    .form_btn_icon{
        display: block;
    }
    .navbar_menu a:hover{
        border-bottom: 2px solid blue;
        color: #0065FC;
        border-top: none;
    } 
    .hebergement a, .populaire a,.activite a{
        width: 100%;    
    }
    .activite .card{
        height: 200px;
    }  
}/**fin mobile**/


